:root {
  --dark-blue: #243647;
  --dark-olive: #357e77;
  --light-olive: #48ada3;
  --green: #228752;
  --purple: #8c2f50;
  --dark-gray: #666666;
  --medium-gray: #b3b3b3;
  --light-gray: #e6e6e6;
  --white: #ffffff;
}
